[defaults]
inventory = /home/kiki/BCIT/Service_Based_Architecture/lab2/ansible/inventory/hosts.yml
remote_user = dev1
private_key_file = ~/.ssh/prod_key_3855.pem

[ssh_connection]
host_key_checking=False
ssh_common_args= -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
ansible_ssh_common_args= -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null

